body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .buttons {
    background-color: #333;
    display: inline-block;
    width: 100%;
  }


  .btn {
    display: inline-block;
    border-radius: 6px;
    background-color: #f4511e;
    border: none;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
  }

  .btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .btn:hover span {
    padding-right: 25px;
  }

  .btn:hover span:after {
    opacity: 1;
    right: 0;
  }


  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f4511e;
  }

  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
    transition: 0.5s;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    transition: 0.5s;
  }

  .header {
    padding: 20px;
    text-align: center;
    background: white;
    color: orangered;
  }

  .header h1 {
    font-size: 48px;
  }

  .header h2 {
    font-size: 30px;
    
  }

  .header h3 {
    font-size: 22px;
    background: white;
    color: #f4511e;
  }

  @media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }


  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .graphs {
    flex: 65%; /*width of the side bar*/
    background-color: white;
    color: orangered;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 36px;
    display: false
  }

  .graph-btn {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    width: 100px;
  }

  .progress {
    flex: 35%;
    background-color: white;
    color: orangered;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 36px;
  }

  @media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }
  }

  .fivekm-form {
    display: inline-block;
    margin-left: 25%;
    margin-right: 25%;
  }
  

  label {
    padding: 10px;
    text-align: left;
    color: #f4511e;
    font-size: 18px;
    
  }

  input {
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #eda892;
    color: black;
    user-select: none;
  }


  .scheduler {
    position: relative;
  }


  .form-popup {
    z-index: 9;
    text-align: center;
  }

  .session-time-lbl {
    display: inline-block;
    margin: 25px 25px;
  }

  .session-time-input {
    padding: 10px 10px;
    box-sizing: border-box;
    background-color: white;
    color: black;
  }


  .grid-container {
    display: inline-grid;
    gap: 50px 50px;
  }



  .footer {
    padding: 5px;
    text-align: center;
    background: darkgray;
    font-size: 11px;
  }
